.env
frigate/data/
iris-mosquitto/data/
iris-app/data-faces/
iris-app/data-events/
iris-app/models/*.zip
iris-app/models/**/*.zip
iris-app/models/**/*.onnx
iris-app/models/**/*.params
iris-app/models/**/*.bin
frigate/models/**/*.trt
frigate/models/**/*.engine
__pycache__/
*.pyc
runtime-libs/
