api:
  listen: ":1984"

streams:
  usb_camera:
    - "ffmpeg:device?video=0&input_format=mjpeg&video_size=1920x1080&framerate=15#video=h264"

rtsp:
  listen: ":8554"

webrtc:
  listen: ":8555"

log:
  level: info
